      body {
        font-family: 'Arial', Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: whitesmoke;
        color: #222;
        line-height: 1.6;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
